.layout-container {
  color: #e7e9ea;
  display: grid;
  grid-template-columns: 315px auto 440px;
  height: 100vh;

  .main-sidebar {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-right: 1px solid #454545;
    padding-left: 50px;

    .item-list {
      font-size: 2.2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;

      .item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 15px;
        padding: 8px 20px 8px 14px;
        border-radius: 64px;
        text-decoration: none;
        color: #e7e9ea;
        cursor: pointer;
        transition: background-color ease-in 0.2s;

        &:hover {
          background-color: #313131;
        }

        .icon {
          font-size: 2.8rem;
        }
      }

      .home {
        margin-bottom: 10px;
        font-size: 2.5rem;
        padding: 10px;
      }

      .item-post {
        margin-top: 10px;
        align-self: stretch;
        background-color: #1d9bf0;

        .icon {
          display: none;
        }

        .text {
          font-weight: bold;
          margin: auto;
        }

        &:hover {
          background-color: #1b8bd6;
        }
      }
      .bold {
        font-weight: bold;
      }
    }

    .user {
      position: relative;
      display: flex;
      align-items: center;
      align-self: stretch;
      column-gap: 10px;
      margin-top: auto;
      padding: 8px 10px;
      font-size: 1.5rem;
      border-radius: 32px;
      transition: background-color 0.2s;
      cursor: pointer;

      .user-pfp {
        height: 40px;
        border-radius: 50%;
      }

      .user-info {
        display: flex;
        flex-direction: column;

        .display-name {
          font-weight: bold;
        }
      }

      .icon {
        margin-left: auto;
        font-size: 2rem;
      }

      &:hover.hover {
        background-color: #313131;
      }

      .submenu {
        position: absolute;
        bottom: calc(100% + 12px);
        left: -25px;
        display: flex;
        border-radius: 16px;
        padding: 12px 0;
        width: calc(100% + 50px);
        background-color: #000000;
        box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
          rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
        z-index: 2;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: calc(50% - 5px);
          width: 10px;
          height: 10px;
          background-color: #000000;
          box-shadow:
            rgba(255, 255, 255, 0.15) 2px 2px 2px 1px;
          transform: rotate(45deg);
        }

        .items {
          flex-direction: column;
          font-size: 1.5rem;
          font-weight: bold;
          width: 100%;

          .item {
            padding: 10px 20px;
            transition: background-color 0.2s;

            &:hover {
              background-color: #272727;
            }
          }
        }
      }
    }
  }

  .right-sidebar {
    border-left: 1px solid #454545;
    max-height: 100vh;
    overflow-y: scroll;

    .search-container {
      position: sticky;
      top: 0px;
      width: 100%;
      padding: 5px 55px 5px 25px;
      background-color: black;

      .search {
        position: relative;
        color: #71767b;
        font-size: 2rem;

        .icon {
          position: absolute;
          top: calc(0% + 0.9rem);
          left: 20px;
        }

        .input-search {
          width: 100%;
          padding: 12px 50px;
          border-radius: 32px;
          background-color: #202327;
          color: #71767b;
          font-size: 1.6rem;
          line-height: 1.6rem;
          border: none;
        }
      }
    }

    .sidebar-items {
      padding: 5px 55px 10px 25px;
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      row-gap: 15px;

      .premium {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        row-gap: 8px;
        border-radius: 16px;
        background-color: #16181c;
        color: #e7e9ea;
        font-weight: bold;

        .title {
          font-size: 2rem;
        }

        .body {
          font-size: 1.5rem;
        }

        .subscribe-button {
          background-color: #1b8bd6;
          padding: 10px 20px;
          font-size: 1.5rem;
          color: #e7e9ea;
          font-weight: bold;
          border: none;
          border-radius: 32px;
          cursor: pointer;

          &:hover {
            background-color: #1685cf;
            transform: background-color ease-in 0.3s;
          }
        }
      }

      .trends {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        background-color: #16181c;

        .title {
          font-weight: bold;
          padding: 10px 20px 5px;
          color: #e7e9ea;
        }

        .trend {
          display: flex;
          padding: 15px 20px;
          color: #71767b;
          transition: background-color ease-in 0.2s;
          cursor: pointer;

          .info {
            display: flex;
            flex-direction: column;
            row-gap: 2px;
            font-size: 1.3rem;

            .name {
              font-size: 1.5rem;
              font-weight: bold;
              color: #e7e9ea;
            }
          }

          .options {
            margin-left: auto;
          }

          &:hover {
            background-color: #202327;
          }

          &:last-child {
            border-radius: 0 0 16px 16px;
          }
        }
      }

      .follow {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        background-color: #16181c;

        .title {
          font-weight: bold;
          padding: 10px 20px 5px;
          color: #e7e9ea;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 12px 20px;
          font-size: 1.3rem;
          color: #71767b;
          transition: background-color ease-in 0.2s;
          cursor: pointer;

          .profile-picture {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
          }

          .info {
            .display-name {
              font-size: 1.5rem;
              font-weight: bold;
              color: #e7e9ea;
            }
          }

          .follow-button {
            margin-left: auto;
            background-color: #e7e9ea;
            color: #202327;
            padding: 5px 10px;
            font-size: 1.5rem;
            border: none;
            border-radius: 32px;
          }

          &:hover {
            background-color: #202327;
          }

          &:last-child {
            border-radius: 0 0 16px 16px;
          }
        }
      }

      .footer {
        color: #71767b;
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        padding: 20px;
        font-size: 1.4rem;

        .link {
          text-decoration: none;

          color: inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

@media screen and (max-width: 1200px) {
  .layout-container {
    grid-template-columns: 90px auto 300px;

    .main-sidebar {
      padding: 10px 5px;

      .item-list {
        align-items: center;

        .item {
          padding: 10px;

          .text {
            display: none;
          }
        }

        .item-post {
          align-self: center;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;

          .icon {
            display: block;
          }
        }
      }

      .user {
        align-self: center;

        .user-info {
          display: none;
        }

        .icon {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .layout-container {
    grid-template-columns: 90px auto;

    .right-sidebar {
      display: none;
    }
  }
}
